@font-face {
  font-family: 'Neue Haas Display Bold';
  src: url('../font/NeueHaasDisplayBold.ttf');
}

@font-face {
  font-family: 'Neue Haas Display Roman';
  src: url('../font/NeueHaasDisplayRoman.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply bg-black font-neue-haas-display-roman;
  }

  button,
  input,
  select,
  textarea {
    @apply outline-none;
    -webkit-tap-highlight-color: transparent;
  }

  .collection-gradient {
    background: #28292B;
    background: radial-gradient(circle, #28292B 0%, #1C1D1F 100%);
  }

  .triumph-background-gradient {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, #28292B 1px, transparent 1px),
      linear-gradient(to bottom, #28292B 1px, #1C1D1F 1px);
  }

  .triumph-gradient {
    background: linear-gradient(-45deg, #1C1D1F 0%, #28292B 75%, transparent 75%, transparent 100%);
  }
}