@font-face {
  font-family: 'Neue Haas Display Bold';
  src: url('../font/NeueHaasDisplayBold.ttf');
}

@font-face {
  font-family: 'Neue Haas Display Roman';
  src: url('../font/NeueHaasDisplayRoman.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply bg-black font-neue-haas-display-roman;
  }

  button,
  input,
  select,
  textarea {
    @apply outline-none;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .collection-gradient {
    background: theme(colors.gray-light);
    background: radial-gradient(circle, theme(colors.gray-light) 0%, theme(colors.gray-dark) 100%);
  }

  .triumph-background-gradient {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, theme(colors.gray-light) 1px, transparent 1px),
      linear-gradient(to bottom, theme(colors.gray-light) 1px, theme(colors.gray-dark) 1px);
  }

  .triumph-gradient {
    background: linear-gradient(-45deg, theme(colors.gray-dark) 0%, theme(colors.gray-light) 75%, transparent 75%, transparent 100%);
  }

  .noscrollbar::-webkit-scrollbar {
    display: none;
  }
}